* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: lightpink;
  color: brown;
  font-family: 'Patrick Hand', cursive;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 650px;
  width: 700px;
  margin: 50px;
  background-color: green;
  border: 16px solid purple;
  border-radius: 16px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.frog {
  background-image: url('https://media2.giphy.com/media/3oKIPjbtKHIQd2Yb0Q/giphy.gif?cid=ecf05e47af70c584df9fd4113bca3db80dcf0889369b29e9&rid=giphy.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.spider {
  background-image: url('https://media.giphy.com/media/lSiRfU6n5g424/giphy.gif');
  background-repeat: no-repeat;
  background-size: contain;
  /* transform: rotate(90deg); */
}

.car {
  background-color: teal;
}

.water {
  background-color: lightblue;
}

.water.log {
  background-image: url('https://media.giphy.com/media/LoJ0rtc4HIIXjstwCr/giphy.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.frog.log.water {
  background-image: url('https://media2.giphy.com/media/3oKIPjbtKHIQd2Yb0Q/giphy.gif?cid=ecf05e47af70c584df9fd4113bca3db80dcf0889369b29e9&rid=giphy.gif'), url('https://media.giphy.com/media/LoJ0rtc4HIIXjstwCr/giphy.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.win {
  background-color: yellow;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 60px;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

.updatesBoard {
  height: 350px;
  width: 400px;
  border: 16px solid purple;
  border-radius: 16px;
  background-color: white;
}

.container {
  height: 250px;
  width: 300px;
  border: 16px solid purple;
  border-radius: 16px;
  text-align: center;
  background-color: white;
}